@import 'main';

.container {
  padding-left: $PADDING_MOBILE;
  padding-right: $PADDING_MOBILE;
  width: 100%;
  margin: 0 auto;
  @include media($SCREEN_TABLET) {
    padding-left: $PADDING_TABLET;
    padding-right: $PADDING_TABLET;
  }
  @include media($SCREEN_HD) {
    padding-left: $PADDING_DESKTOP;
    padding-right: $PADDING_DESKTOP;
  }
}
