@import 'main';

.header {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 20px;
  @include media($SCREEN_TABLET_SMALL) {
    padding: 45px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
    @include media($SCREEN_TABLET_SMALL) {
      margin-bottom: 0;
    }

    &_image {
      $size: 40px;
      width: $size;
      height: $size;
      margin-right: 15px;
    }

    &_wrapper {
      display: flex;
      flex-direction: column;

      h1 {
        @include text(rem(16px), 700, $BLACK);
        line-height: 1.2;
        @include media($SCREEN_TABLET_SMALL) {
          font-size: rem(20px);
        }
      }

      span {
        @include text(rem(12px), 400, inherit);
        line-height: 1.21;
        @include media($SCREEN_TABLET_SMALL) {
          font-size: rem(14px);
        }
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    @include media($SCREEN_TABLET_SMALL) {
      justify-content: flex-start;
      width: fit-content;
    }

    &_item {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }

    &_link {
      display: flex;
      align-items: center;
      @include text(rem(12px), 600, #5c5c5c);
      line-height: 1.21;

      span {
        margin-left: 5px;
      }
    }
  }
}
